
body{
  background: linear-gradient(#272537, #211F33);
  height: 100%;
  width: auto;
}

.main-container {
  margin-top: 5%;
  width: 100%;
  height: 700px;
  margin: 25px 25px 25px 25px;
}

.usage-container{
  /* border: 1px solid rgb(255, 255, 255); */
  display:flex;
  justify-content: center;
  height: 800px;
  margin: 25px 10px 10px 10px;
}

.label{
  vertical-align: middle;
  text-align: center;
}

.chart{
  /* border: 1px solid rgb(185, 206, 26); */
  background-color: rgba(36, 38, 26, 0.082);
  height: 360px;
  width: 500px;

}

.disk-chart{
  /* border: 1px solid rgb(185, 206, 26); */
  flex:2;
  margin: 10px;
  margin-bottom: 68px;
  margin-top: 10px;
  }

.use-container{
  /* border: 1px solid rgb(162, 34, 162); */
  text-align: center;
  padding: 20px;   
  margin: 10px;
  height: 600px;
  background: linear-gradient(#7e5006, #8a6909);
  border-radius: 10px;
  box-shadow: 3px 3px rgba(86, 77, 6, 0.9);
}

h1{
  text-align: center;
}

.stats {
  flex-grow: 1;
  /* border: 1px solid rgb(34, 109, 162);  */
  margin-top: 20px;
}

.stat {
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
  color: #211F33;
}
